<div class="row">
  <div class="col m6">
    <h2>Not Devoured</h2>
    {{#each burger}}
        <div class="box">
        {{#unless devoured}}
            {{> burgers/burger-file devoured=true}}
        {{/unless}}
        </div>
    {{/each}}
  </div>
  
  <div class="col m6">
    <h2>Already Devoured</h2>
    {{#each burger}}
        <div class="box 2">
        {{#if devoured}}
            {{> burgers/burger-file devoured=false}}
        {{/if}}
        </div>
    {{/each}}
  </div>
</div>

<h2>Add a Burger</h2>

<div class="box">
  <form class="create-form">

    <div class="form-group">
      <label style="color:black"for="burgerName">Burger Name</label>
      <input style="color:black"type="text" id="burgerName" name="name">
    </div>

    <button type="submit">Add Burger</button>
  </form>
</div>



