@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');


body {
    background: #FFC644;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center
}
p {
    font-size: 20px
}
.bigBox {
    background-color: rgb(219, 96, 96);
    padding: 30px;
    margin: 20px;   
}
.box {
    background: rgb(68, 196, 255);
    min-height: 500px;
    max-height: 500px;
    margin: 0 100px 0 100px;
    padding: 20px 20px 20px 60px;
    text-align: left;
    overflow: scroll;
}
.boxForm {
    background: rgb(68, 196, 255);
    height: 150px;
    margin: 0 140px 40px 140px;
    padding: 20px;
}
.delete-burger, .eat-burger {
    font-size: 10px;
}



